{% extends "base.html" %}
    {% block title %} {{user.first_name}} {{user.last_name}} {% endblock %}

{% block content %}
    <h1 class="display-1">{{user.first_name}} {{user.last_name}}</h1>
    <h2 class="display4">Username: {{ user.username }}</h2>
    <img src="{{ user.image_url }}" alt="">
    <a href="/user/{{ user.id }}/edit"> Edit </a>
    <hr>
    <form action="/user/{{ user.id }}/delete" method="POST">
     <button type="submit">Delete User</button>
    </form>
    <h2 class="display-2">Posts</h2>
    <ul>
        {% for post in user.posts %}
            <li><a href="/user/{{ user.id }}/post/{{ post.id }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
    <a href="/user/{{ user.id }}/add_post">Create Post</a>
    <a href="/">View All Posts</a>
    <a href="/users">View All Users</a>
    <hr>
   >
    {% endblock %}
