{% extends "base.html" %}
    {% block title %} {{user.first_name}} {{user.last_name}} {% endblock %}

{% block content %}
    <h1>{{user.first_name}} {{user.last_name}}</h1>
    <img src="{{ user.image_url }}" alt="">
    <ul>
        <li>Id: {{user.id}}</li>
        <li>Name: {{user.first_name}} {{user.last_name}}</li>
    </ul>
    <a href="/users">Go Back</a>
    <hr>
    <a href="/user/{{ user.id }}/edit"> Edit </a>
   <hr>
   <form action="/user/{{ user.id }}/delete" method="POST">
    <button type="submit">Delete User</button>
</form>
    {% endblock %}
